body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', monospace;
    color: #ffffff;
    background-color: #000000;
}

#console {
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    white-space: pre-wrap; /* Ensures that whitespace is preserved and lines wrap */
    overflow-x: hidden; /* Prevents horizontal scroll */
}

input {
    width: calc(100% - 24px); /* Adjust width to account for padding */
    padding: 10px;
    margin-bottom: 20px; /* Space below each element */
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Courier New', monospace;
    box-sizing: border-box; /* Includes padding in width calculation */
}

input::placeholder {
    color: #555;
}

#summary {
    color: #ffffff;
    padding: 20px;
    font-size: 18px;
    background-color: #000000;  // Styling the summary to match the console style
}

@media (max-width: 600px) {
    body, #console, #summary {
        padding: 10px; /* Reduces padding on smaller screens */
    }

    input, button {
        font-size: 16px; /* Slightly smaller font size for better fit */
        padding: 8px; /* Reduces padding to save space */
    }

    #console, #summary {
        padding: 10px; /* Consistent padding for console and summary */
    }
}
